.select-continents{
    width: 90vw;
    height: 60px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.301) 1px 1px 5px ;
    outline:none;
    border-radius: 6px;
}

.box{
    border-radius: 6px;
    background-color: rgb(255, 130, 0);
    width: 75vw;
    height: 180px;
    border: none;
}

.price{
    font-size:60px;
    color:white;
}

.text{
    color:white;
    font-size:22px;
}

.blue{
    background-color: rgb(1, 181, 230);
}

