.center{
    width: 100%;
    display: flex;

    // position: relative;
    // left: 45px;
}
.form {
    display: grid;
    place-content: center;
}

.divtitle2 {
    width: 300px;
    font-size: 16px;
}

.check {
    display: flex;
    margin-top: 10px;
}
.checkbox {
  position: relative;
  bottom: 5px;

}

.textspan {
    font-size: 11px;
    margin-left: 5px;
}

.bigdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 315px ;
    max-width: 500px;
    height: auto;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    gap: 20px;
    box-shadow: 0px 0px 20px -10px black;
    margin-inline: 20px;
}

.form-class{
    min-width: 295px;
    max-width: 420px;
    padding: 20px;
}