.reserve{
    &-img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
    p{
        padding: 0;
        margin: 0;
    }
  
}

.chatList {
    overflow-y: auto;
    height: 87vh;
}