.b-form__container{
    display: flex;
    font-family: NotoSans-Regular;
    font-size: 14px;;
    font-weight: 600;

    .b__searcher{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-right: 20px;
        margin-bottom: 10px;

    }
    .b-buttons__container{
        display: flex;
        flex-direction: row-reverse;
    }
    .b-button__deposit{
        background-color: #fbfbfb;
        border: transparent;
        outline: none;
        width: 75%;
        max-height: 45px;
        padding: 11px 20px;
        margin-top: 10px;
        border-radius: 5px;
        font-weight: 300;
    }
    
    }
    .b-button__pieces{
        background-color: #fbfbfb;
        border: transparent;
        outline: none;
        width: 75%;
        border-radius: 5px;
        max-height: 45px;
        padding: 11px 20px;
        margin-top: 20px;
        font-weight: 300;
    }
    .b-button__leave{
        background-color: #fbfbfb;
        border: transparent;
        outline: none;
        border-radius: 5px;
        margin-left: 20px;
        height: 45px;
        width: 70%;
        padding: 8px 15px;
        margin-top: 10px;
        font-weight: 300;
        
    }
    .b-button__tariffs{
        background-color: #fbfbfb;
        border: transparent;
        outline: none;
        border-radius: 5px;
        margin-left: 20px;
        width: 70%;
        height: 45px;
        padding: 10px 20px;
        margin-top: 20px;
        font-weight: 300;
        background-color: #f68f24;
        color: #fff
    }
    
    .b-button__icon{
        object-fit: cover;
        width: 20px;
        height: 20px;
        margin-right: 1px;
    }
    .b-son__container{
        width: 50%;
    }
    .b-searcher__location{
        align-items: center;
        background-color: #fbfbfb;
        outline: none;
        border: none;
        padding: 15px 30px;
        width: 70%;
        font-size: 13px;   
    }