footer{
    width: 99.6%;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    border: 1px solid grey;
    border-top: 1px solid grey;

    .b-icon__son{
        object-fit: cover;
        width: 32px;
        margin-top: 5px;
    }
}