footer{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    border: 1px solid grey;
    border-top: 1px solid grey;
    z-index: 999;

    .b-icon__son{
        margin-top: 8px;
        z-index: 999;

        & img {
            height: 32px;
        }
    }
}